#download-heading {
    margin-top: 5rem;
    text-align: center;
    font-weight: 400;
}
#download-heading > p {
    font-size: 1rem;
}

#download-cards-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.download-card {
    padding: 2rem;
    border-radius: var(--border-radius-large);
    background-color: lightgray;
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.download-card > img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
}
.download-card a {
    font-size: 1.1rem;
    width: 100%;
    background-color: #0066b8;
    border: none;
    padding: 1rem 3rem;
    color: white;
    transition: background-color 0.2s;
    text-decoration: none;
}
.download-card a:hover {
    background-color: #02579c;
}
.download-card > .download-button-split-wrapper {
    display: flex;
    gap: 0.3rem;
    width: 100%;
}
.download-card > .download-button-split-wrapper > a {
    width: 50%;
    padding: 1rem 2rem;
}

@media (max-width: 900px) {
    #download-cards-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1050px) {
    #download-cards-wrapper {
        gap: 1rem;
    }
}
