#request-feature-form {
    background-color: lightgray;
    width: 60vw;
    height: 80dvh;
    margin: 3rem auto;
    margin-bottom: 0;
    padding: 3rem;
    border-radius: var(--border-radius-large);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#request-feature-form label {
    color: #535353;
}

#request-feature-title {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius-medium);
    width: 100%;
    margin-top: 0.3rem;
}

#request-feature-content {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius-medium);
    width: 100%;
    resize: vertical;
    max-height: 30rem;
    margin-top: 0.3rem;
}

#request-feature-submit {
    background-color: #5390d9;
    border: none;
    padding: 0.7rem;
    border-radius: var(--border-radius-medium);
}

#request-feature-submit:hover {
    filter: brightness(90%);
}

@media (max-width: 940px) or (max-height: 600px) {
    #request-feature-form {
        width: 100vw;
        height: calc(100dvh - var(--navbar-height));
        margin: 0;
        border-radius: 0;
        position: fixed;
        top: var(--navbar-height);
    }
}
