#about h1 {
    font-size: 3.75rem;
}
#about p {
    font-size: 1.75rem;
}


section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 10vw;
    margin-bottom: 5rem;
}

section:first-child {
    /* background: linear-gradient(gray, lightgray); */
    /* background: linear-gradient(30deg, rgb(255, 179, 37), var(--color-primary)); */
    background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--navbar-height));
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem lightgray;
}

#start-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#start-links .start-link {
    /* background-color: #0066b8; */
    text-decoration: underline #0066b8;
    border-radius: var(--border-radius-small);
    padding: 1rem 3rem;
    color: black;
    height: min-content;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.2rem;
    white-space: nowrap;
}
#start-links .start-link:hover {
    background-color: #02579c;
    color: white;
    text-decoration: none;
}

#logo-svg {
    width: 90vw;
    height: auto;
    max-width: 30rem;
    max-height: 90vh;
    /* position: absolute;
    top: var(--navbar-height); */
}

.center-aligned {
    text-align: center;
}

.image {
    max-width: 80rem;
    width: 80vw;
    height: auto;
    outline: 0.1rem solid black;
    box-shadow: 0 0 0.5rem black;
    border-radius: var(--border-radius-small);
}

#down-button-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}
#down-button {
    font-size: 1rem;
    background-color: white;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
    border: 0.15em solid black;
}
#down-button:hover {
    background-color: var(--color-primary);
}
#down-button::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-left: 0.2em solid black;
    border-bottom: 0.2em solid black;
    perspective: 100px;
    transform: rotate(-45deg) translate(0.1em, -0.1em);
    opacity: 0.5;
    transition: 0.3s;
}
#down-button:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translate(0.3rem, -0.3rem);
}

#sliding-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
}

#sliding-examples > img {
    outline: 0.1rem solid black;
    border-radius: var(--border-radius-large);
    box-shadow: 0 0 0.2rem black;
    width: 20%;
    max-width: 20rem;
    transform: translateX(-100vw);
}

#sliding-examples > img:hover {
    scale: 1.1;
}

#sliding-examples.show > img:nth-child(1) {
    transform: rotate(-5deg) translateY(1.5rem);
    transition: transform 1s 0s, scale 0.3s;
}
#sliding-examples.show > img:nth-child(2) {
    transform: none;
    transition: transform 1s 0.1s, scale 0.3s;
}
#sliding-examples.show > img:nth-child(3) {
    transform: none;
    transition: transform 1s 0.2s, scale 0.3s;
}
#sliding-examples.show > img:nth-child(4) {
    transform: rotate(5deg) translateY(1.5rem);
    transition: transform 1s 0.3s, scale 0.3s;
}

.hidden {
    opacity: 0;
    transition: 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .show {
        transition: none;
    }
}

@media (max-width: 800px) {
    .show {
        transition: none;
    }

    #sliding-examples > img {
        width: 40%;
    }

    #sliding-examples.show > img {
        transform: none !important;
        margin-top: 2rem;
    }

    #about h1 {
        font-size: 3rem;
    }
    #about p {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    #down-button {
        font-size: 0.8rem;
        transform: translateY(-50%);
    }

    .image {
        width: 90vw;
    }

    #start-links > .start-link {
        padding: 0.5rem 0.5rem;
    }

    #about h1 {
        font-size: 2rem;
    }
    #about p {
        font-size: 1rem;
    }
}
