.image,
.video {
    max-width: 60rem;
    width: 60vw;
    height: auto;
    outline: 0.1rem solid black;
    box-shadow: 0 0 0.5rem black;
    border-radius: var(--border-radius-small);
}

#documentation {
    display: flex;
    width: 90vw;
    margin: auto;
    gap: 2rem;
    /* min-height: calc(100dvh - var(--navbar-height)); */
}

#table-of-content {
    /* background: linear-gradient(lightgray, rgba(211, 211, 211, 0.6)); */
    background: rgba(211, 211, 211, 1);
    padding: 0.5rem;
    border-left: 0.15rem solid #0071bc;
    height: calc(100dvh - var(--navbar-height) - 4rem);
    position: sticky;
    top: calc(var(--navbar-height) + 2rem);
    list-style: none;
    white-space: nowrap;
    border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
    width: 13rem;
    overflow: auto;
}
#table-of-content ul {
    list-style: none;
    padding-left: 1rem;
    width: max-content;
}
#table-of-content a {
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
    transition: 0.2s;
}
#table-of-content a:hover {
    text-decoration: underline;
    font-weight: 400;
}

#documentation-content {
    margin-bottom: 2rem;
    list-style-position: inside;
}

#documentation-content section {
    margin-top: 1rem;
    padding: 1rem;
}

#documentation-content ul {
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    list-style-type: none;
}
#documentation-content ul ul li {
    margin-left: 0;
    font-size: 1;
    font-weight: normal;
    list-style-type: disc;
}

#search-box-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    border-radius: var(--border-radius-medium);
}

#search-box-wrapper > #search-box {
    height: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    border: none;
    outline: 0.01rem solid gray;
    width: 100%;
}

#search-box-wrapper > button {
    height: 1rem;
    background-image: url(../images/searchIcon.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 1rem;
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    border: none;
    outline: 0.01rem solid gray;
}
#search-box-wrapper > #search-box::-webkit-calendar-picker-indicator {
    display: none !important;
}

#search-box-wrapper:has(:focus-visible) {
    outline: 0.15rem solid black;
}

#search-box-wrapper > button:focus-visible,
#search-box-wrapper > button:hover {
    background-color: lightgray;
}

#toggle-table-of-content-button {
    display: none;
    position: absolute;
    left: 0;
    top: var(--navbar-height);
    background-color: lightblue;
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius-medium);
}

@media (max-width: 900px) or (max-height: 600px) {
    #table-of-content-wrapper {
        position: fixed;
        left: -13rem;
        top: 0;
        transition: left 0.65s;
    }

    #table-of-content-wrapper.active {
        left: 0;
    }

    #table-of-content {
        position: absolute;
        left: 0;
        top: var(--navbar-height);
        height: calc(100dvh - var(--navbar-height));
        border-radius: 0;
        border-left: none;
        border-right: 0.15rem solid #0071bc;
    }

    #toggle-table-of-content-button {
        display: flex;
        left: 13rem;
    }

    .image,
    .video {
        width: 80vw;
    }
}
