#download-heading {
    margin: 5rem 1rem;
    margin-bottom: 0;
    text-align: center;
}

#latest-version {
    text-align: center;
    font-size: var(--text-body-large);
}

#download-cards-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.download-card {
    padding: 2rem;
    border-radius: var(--border-radius-large);
    background-color: lightgray;
    width: 21rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
/* Apple download */
.download-card:last-child a {
    cursor: not-allowed;
}
.download-card > img {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
}
.download-card a {
    font-size: var(--text-link);
    width: 100%;
    background-color: var(--color-action);
    padding: 1rem;
    color: white;
    transition: background-color 0.2s;
    text-decoration: none;
    align-content: center;
}
.download-card a:hover {
    background-color: #02579c;
}
.download-card > .download-button-split-wrapper {
    display: flex;
    gap: 0.7rem;
    width: 100%;
}

@media (max-width: 1200px) {
    #download-cards-wrapper {
        gap: 2rem;
    }
}
