main {
    overflow-x: hidden;
}

#hero {
    padding-top: 10dvh;
}

#about h1 {
    font-size: 3.5rem;
}
#about p {
    font-size: 1.5rem;
}

h2 {
    font-size: 3.2rem;
}
p {
    font-size: 1.2rem;
}

.center-aligned {
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 10vw;
    padding-bottom: 2.5rem;
    position: relative;
}

section .curved-divider {
    position: absolute;
    bottom: -1px; /*1px to avoid glitches*/
    left: 0;
    width: 100vw;
    height: auto;
}

section:nth-child(odd) {
    background-color: lightgray;
}

section:first-child {
    background: linear-gradient(30deg, lightgray, white 30%, gray);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--navbar-height));
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem lightgray;
}

.feature-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    white-space: wrap;
}
.feature-section:nth-child(even) {
    flex-wrap: wrap-reverse;
}
.feature-section img {
    max-width: min(80vw, 30rem);
    max-height: 30rem;
    outline: 0.01rem solid gray;
}
.feature-section img.extra-spacing {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#start-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#start-links .start-link {
    border: none;
    background-color: transparent;
    text-decoration: underline #0066b8;
    border-radius: var(--border-radius-small);
    padding: 1rem 3rem;
    color: black;
    height: min-content;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.2rem;
    white-space: nowrap;
    font-family: var(--font-size);
}
#start-links .start-link:hover {
    background-color: rgba(0, 0, 0, 0.13);
    color: #0066b8;
    text-decoration: none;
}

#logo-svg {
    width: 90vw;
    height: auto;
    max-width: 30rem;
    max-height: 90vh;
}
#logo-svg path {
    fill: #000000;
    fill-opacity: 0;
    stroke-width: 20;
    stroke-dasharray: 0, 100;
    animation: svg-logo-animation-line 2s 0.1s forwards linear,
        svg-logo-animation-fade 0.5s 2.6s forwards linear;
}

h2:has(#swapping-text-wrapper) {
    white-space: nowrap;
}
#swapping-text-wrapper {
    display: inline-block;
    position: relative;
    overflow: clip;
    transition: width 0.5s;
}
#swapping-text-wrapper ~ br {
    display: none;
}
#swapping-text {
    color: black;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
#swapping-text-wrapper span {
    white-space: nowrap;
    width: max-content;
    font-style: italic;
}
@media ((max-width: 900px) and (min-width: 600px)) or (max-width: 500px) {
    #swapping-text-wrapper ~ br {
        display: block;
    }
}

#sliding-examples {
    width: 90vw;
    max-width: 1500px;
    position: relative;
}

#sliding-examples-cards {
    overflow: hidden;
    display: flex;
    padding: 1rem;
    gap: 5%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

#sliding-examples .sliding-examples-button {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    /* background-color: white; */
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    outline: 0.1rem solid gray;
    transition: background-color 0.2s;
    background-image: url(../images/arrowIcon.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#sliding-examples .sliding-examples-button.disabled {
    background-color: lightgray;
}
#sliding-examples .sliding-examples-button:hover {
    background-color: lightgray;
}
#sliding-examples #sliding-examples-button-right {
    left: auto;
    right: 0;
    scale: -1 1;
}

#sliding-examples-cards > img {
    outline: 0.01rem solid gray;
    border-radius: var(--border-radius-large);
    min-width: 21.25%;
    position: relative;
    left: 0;
    cursor: zoom-in;
    transition: left 0.2s, scale 0.3s;
}

#sliding-examples-cards > img:hover {
    scale: 1.03;
    box-shadow: 0 0 0.2rem gray;
}

#fullscreen-image {
    position: fixed;
    left: 0;
    top: var(--navbar-height);
    width: 100vw;
    height: calc(100dvh - var(--navbar-height));
    max-width: none;
    object-fit: contain;
    cursor: zoom-out;
    transform: none !important;
    scale: 1;
    z-index: 2;
    transition: none !important;
    outline: 0;
    box-shadow: none;
    margin: 0 !important;
    display: none;
}
#fullscreen-image.active {
    display: block;
}
#image-backdrop {
    display: none;
}
#fullscreen-image.active ~ #image-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: var(--navbar-height);
    width: 100vw;
    height: calc(100dvh - var(--navbar-height));
    background-color: rgba(128, 128, 128, 0.596);
    z-index: 1;
}

html:has(#fullscreen-image.active) {
    scrollbar-gutter: stable;
}
body:has(#fullscreen-image.active) {
    overflow-y: hidden;
}

/* #sliding-examples.show > img:nth-child(1) {
    transform: rotate(-5deg) translateY(1.5rem);
    transition: transform 1s 0s, scale 0.3s;
}
#sliding-examples.show > img:nth-child(2) {
    transform: none;
    transition: transform 1s 0.12s, scale 0.3s;
}
#sliding-examples.show > img:nth-child(3) {
    transform: none;
    transition: transform 1s 0.24s, scale 0.3s;
}
#sliding-examples.show > img:nth-child(4) {
    transform: rotate(5deg) translateY(1.5rem);
    transition: transform 1s 0.38s, scale 0.3s;
} */

.fade-in-left {
    transition: opacity 1s, translate 1s;
    opacity: 0;
    translate: -100% 0;
}

.fade-in-right {
    transition: opacity 1s, translate 1s;
    opacity: 0;
    translate: 100% 0;
}

.show {
    opacity: 1;
    translate: 0 0;
}

@media (prefers-reduced-motion) {
    .show {
        transition: none;
    }
}

@media (max-width: 800px) {
    #sliding-examples-cards > img {
        min-width: 47.5%;
    }

    #sliding-examples.show > img {
        transform: none !important;
        margin-top: 2rem;
    }

    #about h1 {
        font-size: 3rem;
    }
    #about p {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2.8rem;
    }
    p {
        font-size: 1.3rem;
    }

    .spacing-for-curved-divider {
        display: none;
    }

    .feature-section img.extra-spacing {
        margin: 0;
    }
}

@media (max-width: 600px) {
    #down-button {
        font-size: 0.8rem;
        transform: translateY(-50%);
    }

    #start-links > .start-link {
        padding: 0.5rem 0.5rem;
    }

    #about h1 {
        font-size: 2rem;
    }
    #about p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.9rem;
    }
    p {
        font-size: 1rem;
    }

    .spacing-for-curved-divider {
        display: none;
    }

    .feature-section img.extra-spacing {
        margin: 0;
    }
}

@media (max-width: 430px) {
    #sliding-examples {
        padding: 0 0.5rem;
    }
    #sliding-examples-cards {
        padding: 1rem 0.5rem;
    }
    #sliding-examples-cards > img {
        min-width: 100%;
    }
}

@media (max-width: 1134px) {
    .feature-section {
        flex-wrap: wrap;
    }
}

@keyframes svg-logo-animation-line {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 100, 0;
    }
}
@keyframes svg-logo-animation-fade {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}
