main {
    overflow-x: hidden;
    background-color: var(--color-secondary);
}

#logo-svg {
    width: 90vw;
    height: auto;
    max-width: 30rem;
    max-height: 90vh;
}
#logo-svg path {
    fill: #000000;
    fill-opacity: 0;
    stroke: transparent;
    stroke-width: 20;
    stroke-dasharray: 0, 100;
    animation:
        svg-logo-animation-line 2s 0.3s forwards linear,
        svg-logo-animation-fade 0.5s 2.8s forwards linear;
}

#about h1 {
    font-size: var(--text-hero-h1);
}

#about > p {
    font-size: var(--text-body-large);
    color: var(--muted-text-color);
}

#about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-small) var(--spacing-medium);
    margin: var(--spacing-large) 0;
}

#about-grid div {
    padding: var(--spacing-small);
    background-color: var(--color-background);
    outline: lightgray;
    border-radius: var(--border-radius-medium);
    text-align: left;
}

#about-grid img {
    width: 2.5rem;
}

.link-button-pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
}

.link-button {
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    border-radius: var(--border-radius-small);
    height: min-content;
    transition:
        background-color 0.2s,
        color 0.2s;
    font-size: var(--text-link-small);
    white-space: nowrap;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    outline: 1px solid var(--muted-text-color);
    color: black;
    padding: var(--spacing-extra-small) var(--spacing-medium);
    gap: var(--spacing-extra-small);
}

.link-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--color-action);
    text-decoration: none;
}

.download-highlight {
    outline: 1px solid var(--color-action);
    color: var(--color-action);
}

.center-aligned {
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--large-section-spacing) max(calc((100vw - var(--section-width)) / 2), 10vw);
    position: relative;
}

section.small-spacing-top {
    padding-top: var(--small-section-spacing);
}
section.small-spacing-bottom {
    padding-bottom: var(--small-section-spacing);
}

section .curved-divider {
    position: absolute;
    bottom: -1px; /*1px to avoid glitches*/
    left: 0;
    width: 100vw;
    height: auto;
}

section:nth-child(odd) {
    background-color: var(--color-background);
}

section:first-child {
    background: linear-gradient(30deg, lightgray, white 30%, gray);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - var(--navbar-height));
    box-shadow: 0 0.5rem 1rem lightgray;
}

.feature-section {
    flex-direction: row;
    justify-content: space-between;
    white-space: wrap;
    gap: var(--spacing-medium);
}
.feature-section:nth-child(even) {
    flex-wrap: wrap-reverse;
}
.feature-section img {
    max-width: min(80vw, 50rem);
    max-height: 40rem;
    outline: 0.01rem solid gray;
    border-radius: var(--border-radius-small);
}

#start-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    margin-top: var(--spacing-medium);
}

#start-links .start-link {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    border-radius: var(--border-radius-small);
    height: min-content;
    transition: 0.2s;
    font-size: var(--text-link);
    white-space: nowrap;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    color: black;
    font-weight: normal;
    padding: var(--spacing-extra-small) var(--spacing-large);
    gap: var(--spacing-extra-small);
    border: none;
    outline: 1px solid var(--muted-text-color);
}
#start-links .start-link:nth-child(2) {
    outline: 1px solid var(--color-action);
    color: var(--color-action);
}
#start-links .start-link .read-more-arrow {
    rotate: 90deg;
}
#start-links .start-link:hover {
    background-color: rgba(0, 0, 0, 0.15);
    text-decoration: none;
}
h2:has(#swapping-text-wrapper) {
    white-space: nowrap;
}
#swapping-text-wrapper {
    display: inline-block;
    position: relative;
    overflow: clip;
    transition: width 0.5s;
}
#swapping-text-wrapper ~ br {
    display: none;
}
#swapping-text {
    color: black;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
#swapping-text-wrapper span {
    white-space: nowrap;
    width: max-content;
    font-style: italic;
}
@media ((max-width: 900px) and (min-width: 600px)) or (max-width: 500px) {
    #swapping-text-wrapper ~ br {
        display: block;
    }
}

#sliding-examples {
    width: 90vw;
    max-width: 1500px;
    position: relative;
}

#sliding-examples-cards {
    overflow: hidden;
    display: flex;
    padding: 1rem;
    gap: 5%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: var(--spacing-small);
}

#sliding-examples .sliding-examples-button {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    outline: 0.1rem solid gray;
    transition: background-color 0.2s;
    background-image: url(../images/arrowIcon.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#sliding-examples .sliding-examples-button.disabled {
    background-color: lightgray;
}
#sliding-examples .sliding-examples-button:hover {
    background-color: lightgray;
}
#sliding-examples #sliding-examples-button-right {
    left: auto;
    right: 0;
    scale: -1 1;
}

#sliding-examples-cards > img {
    outline: 0.01rem solid gray;
    border-radius: var(--border-radius-large);
    min-width: 21.25%;
    position: relative;
    left: 0;
    cursor: zoom-in;
    transition:
        left 0.2s,
        scale 0.3s;
}

#sliding-examples-cards > img:hover {
    scale: 1.03;
    box-shadow: 0 0 0.2rem gray;
}

#fullscreen-image {
    position: fixed;
    left: 0;
    top: var(--navbar-height);
    width: 100vw;
    height: calc(100dvh - var(--navbar-height));
    max-width: none;
    object-fit: contain;
    cursor: zoom-out;
    transform: none !important;
    scale: 1;
    z-index: 2;
    transition: none !important;
    outline: 0;
    box-shadow: none;
    margin: 0 !important;
    display: none;
}
#fullscreen-image.active {
    display: block;
}
#image-backdrop {
    display: none;
}
#fullscreen-image.active ~ #image-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: var(--navbar-height);
    width: 100vw;
    height: calc(100dvh - var(--navbar-height));
    background-color: rgba(128, 128, 128, 0.596);
    z-index: 1;
}

html:has(#fullscreen-image.active) {
    scrollbar-gutter: stable;
}
body:has(#fullscreen-image.active) {
    overflow-y: hidden;
}

#get-started p {
    color: var(--muted-text-color);
}
#get-started .promo-video {
    margin-top: var(--spacing-medium);
    width: 80dvw;
    max-width: 1000px;
    height: auto;
    aspect-ratio: 560 / 315;
    border-radius: var(--border-radius-extra-large);
}

footer {
    background-color: var(--color-background);
    padding: var(--medium-section-spacing) max(calc((100vw - var(--section-width)) / 2), 10vw);
}

footer #footer-brand-text {
    background-image: url(../images/logo.svg);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: left 50%;
    padding-left: 2rem;
}

footer #footer-text-sections {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

footer #footer-text-sections p:first-child {
    margin-bottom: var(--spacing-tiny);
}

footer #footer-text-sections ul li {
    list-style-type: none;
    display: block;
}

footer ul a {
    font-size: var(--text-link-small);
    color: var(--muted-text-color);
    text-decoration: none;
    transition: 0.2s;
}

footer ul a:hover {
    color: black;
}

footer hr {
    border-top: 0.1px solid var(--muted-text-color);
    border-bottom: 0;
    margin: var(--spacing-medium) 0;
}

footer p:not(:first-child) {
    font-size: var(--text-link-small);
    color: var(--muted-text-color);
    text-decoration: none;
}

@media (max-width: 1400px) {
    footer #footer-text-sections {
        grid-template-columns: 1fr 1fr;
    }

    footer #footer-text-sections div {
        padding-left: 15dvw;
    }
}

@media (max-width: 1000px) {
    footer #footer-text-sections {
        grid-template-columns: 1fr;
    }
    footer #footer-text-sections div {
        padding-left: 5vw;
    }
}

@media (max-width: 600px) {
    footer #footer-text-sections div {
        padding-left: 0;
    }
}

.fade-in-left {
    transition:
        opacity 1s,
        translate 1s;
    opacity: 0;
    translate: -100% 0;
}

.fade-in-right {
    transition:
        opacity 1s,
        translate 1s;
    opacity: 0;
    translate: 100% 0;
}

.fade-in-upwards .fade-in-upwards-item {
    transition:
        opacity 1s,
        translate 1s;
    opacity: 0;
    translate: 0 2rem;
}
.fade-in-upwards .fade-in-upwards-item-2 {
    transition-delay: 0.2s;
}
.fade-in-upwards .fade-in-upwards-item-3 {
    transition-delay: 0.4s;
}
.fade-in-upwards .fade-in-upwards-item-4 {
    transition-delay: 0.6s;
}
.fade-in-upwards.show .fade-in-upwards-item {
    opacity: 1;
    translate: 0 0;
}

.show {
    opacity: 1;
    translate: 0 0;
}

@media (prefers-reduced-motion: reduce) {
    .show {
        transition: none;
    }
}

@media (max-width: 900px) {
    #sliding-examples-cards > img {
        min-width: 47.5%;
    }

    #sliding-examples.show > img {
        transform: none !important;
    }
}

@media (max-width: 800px) {
    #about-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-section img.extra-spacing {
        margin: 0;
    }
}

@media (max-width: 600px) {
    #down-button {
        font-size: 0.8rem;
        transform: translateY(-50%);
    }

    #about-grid {
        grid-template-columns: 1fr;
    }

    .feature-section img.extra-spacing {
        margin: 0;
    }

    #get-started .promo-video {
        width: 90dvw;
    }

    section {
        padding-top: var(--medium-section-spacing);
        padding-bottom: var(--medium-section-spacing);
    }
    /* still keep the same top padding for the about-section */
    #about-section {
        padding-top: var(--large-section-spacing);
    }
}

@media (max-width: 500px) {
    #start-links {
        gap: var(--spacing-extra-small);
    }

    #start-links .start-link {
        padding: var(--spacing-extra-extra-small) var(--spacing-extra-small);
        gap: var(--spacing-extra-extra-small);
    }
}

@media (max-width: 340px) {
    #start-links {
        flex-direction: column-reverse;
    }
}

@media (max-width: 430px) {
    #sliding-examples {
        padding: 0 0.5rem;
    }
    #sliding-examples-cards {
        padding: 1rem 0.5rem;
    }
    #sliding-examples-cards > img {
        min-width: 100%;
    }
}

@media (max-width: 1134px) {
    .feature-section {
        flex-wrap: wrap;
    }
}

@keyframes svg-logo-animation-line {
    0% {
        stroke-dasharray: 0, 100;
        stroke: black;
    }
    100% {
        stroke: black;
        stroke-dasharray: 100, 0;
    }
}
@keyframes svg-logo-animation-fade {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}
